{%load static%}
{% comment %} {% load bootstrap4 %} {% endcomment %}
<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<title> WEB AVANÇADO </title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% comment %} {% bootstrap_css %} {% endcomment %}
	</head>
	<body>
	       
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BSI - IFNMG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'index'%}">HOME <span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'w3c'%}">W3C</a>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Desenvolvimento Web
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{%url 'html'%}">HTML</a>
            <a class="dropdown-item" href="{%url 'css'%}">CSS</a>
            <a class="dropdown-item" href="{%url 'javascript'%}">Javascript</a>
        <a class="dropdown-item" href="#">Frameworks Frontend</a>
        <a class="dropdown-item" href="#">Frameworks Backend</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'contato'%}">Contato</a>
        </li>
        
      </ul>
      <button type="button" class="btn btn-outline-dark">Baixar</button>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
  {% comment %} {% bootstrap_javascript jquery='full' %} {% endcomment %}
	</body>
</html>    
