{% extends 'base.html'%}{%block content%}
<div class="jumbotron">
  <h1 class="display-4">Desenvolvimento Web Avançado</h1>
  <p class="lead">Seu guia rápido de consulta sobre as principais tecnologias de desenvolvimento Web</p>
  <hr class="my-4">
  <h2>Aplicações Frontend</h2>
  <p>São responsável pela apresentação do software, chamado de client-side.
É o código que roda no navegador (cliente).
Trabalham com linguagens como HTML, CSS e JavaScript, além de frameworks e bibliotecas, como Angular, React, Vue.JS, etc.
Não precisam conhecer como desenvolver código de backend, mas é importante que conheçam os fundamentos sobre arquitetura de software.
Vale ressaltar que tanto o programador frontend quanto o backend precisam conhecer HTTP... 
</p>
  <a class="btn btn-outline-primary btn-sm" href="#" role="button">Leia mais</a>
  
  <hr class="my-4">
  
  <h2>Aplicações Backend</h2>
 
  <p>
	Código que é escrito para rodar no servidor (HTTP), também conhecido como server-side. Fornece e garante todas as regras de negócio, acesso a banco de dados, segurança e escalabilidade.
  </p>
   <a class="btn btn-outline-primary btn-sm" href="#" role="button">Leia mais</a>
</div>
{%endblock%}