{%extends 'base.html'%}{%block content%}

<div class="jumbotron">
  <h1 class="display-4">HTML</h1>
  <p>
    HTML, sigla para HyperText Markup Language (Linguagem de Marcação de Hipertexto), é uma linguagem de marcação utilizada para criar páginas web. Ela é a base da maioria dos sites na Internet, permitindo a estruturação e a formatação do conteúdo para exibição em um navegador.

    O HTML utiliza uma sintaxe composta por elementos (tags) que envolvem o conteúdo a ser exibido. As tags são compostas por um nome, entre colchetes angulares ("<" e ">"), e podem possuir atributos para definir características adicionais dos elementos. Por exemplo, a tag "&lt;p&gt;" é usada para definir um parágrafo, enquanto a tag "&lt;img&gt;" é utilizada para exibir uma imagem.
    
    Os elementos HTML são organizados em uma estrutura hierárquica, onde alguns elementos são filhos de outros. A tag "&lt;html&gt;" é o elemento raiz de um documento HTML e contém o cabeçalho ("&lt;head&gt;") e o corpo ("&lt;body&gt;") do documento. O cabeçalho é usado para definir metadados, como o título da página e referências a arquivos externos, enquanto o corpo contém o conteúdo visível da página, como texto, imagens, links e outros elementos.
    
    Além disso, o HTML permite a criação de links através da tag "&lt;a&gt;", que direciona o usuário para outras páginas da web quando clicado. Também é possível criar formulários interativos com a tag "&lt;form&gt;", onde os usuários podem inserir informações e enviá-las para um servidor.
    
    Para estilizar as páginas web, o HTML pode ser combinado com outras tecnologias, como o CSS (Cascading Style Sheets), que define as regras de aparência dos elementos, e o JavaScript, que adiciona interatividade e funcionalidades dinâmicas.
    
    Em resumo, o HTML é uma linguagem de marcação utilizada para estruturar e formatar o conteúdo das páginas web. Ela desempenha um papel fundamental na construção de sites, permitindo a criação de links, a exibição de imagens e texto, e a interação com os usuários. Combinado com outras tecnologias, o HTML possibilita a criação de páginas web atraentes e funcionais.
  </p>
</div>

{%endblock%}