{%extends 'base.html'%}{%block content%}

<div class="jumbotron">
  <h1 class="display-4">W3C</h1>
  <p>W3C, ou World Wide Web Consortium, é uma comunidade internacional que desenvolve padrões e diretrizes para garantir o crescimento e a estabilidade a longo prazo da World Wide Web. Esses padrões são cruciais para promover a interoperabilidade e acessibilidade em diferentes tecnologias da web.

      Como organização, o W3C desempenha um papel significativo na formação do futuro da web, fornecendo especificações técnicas e diretrizes para desenvolvedores da web, fabricantes de navegadores e outras partes interessadas. Seu trabalho abrange uma ampla gama de áreas, incluindo HTML, CSS, JavaScript, acessibilidade na web, arquitetura da web e muito mais.
      
      O W3C é responsável por desenvolver e manter as principais tecnologias da Web, como HTML (Hypertext Markup Language), usado para estruturar o conteúdo das páginas da Web, e CSS (Cascading Style Sheets), usado para apresentação e layout. Esses padrões garantem que o conteúdo da web seja exibido de forma consistente em diferentes dispositivos e plataformas.
      
      Além de definir especificações técnicas, o W3C também promove as melhores práticas e diretrizes para acessibilidade na web. Eles se esforçam para tornar a web inclusiva e acessível para pessoas com deficiência, fornecendo recomendações para projetar e desenvolver sites e aplicativos da web acessíveis.
      
      O W3C opera por meio de um processo colaborativo que envolve a participação de especialistas da indústria, pesquisadores e outras partes interessadas de todo o mundo. Eles incentivam discussões abertas e tomadas de decisão baseadas em consenso para garantir que os padrões resultantes atendam às necessidades da comunidade da web.
      
      No geral, a missão do W3C é levar a Web a todo o seu potencial, criando padrões abertos e diretrizes que promovam compatibilidade, interoperabilidade e acessibilidade. O trabalho deles é essencial para garantir uma experiência na Web consistente e inclusiva para usuários em todo o mundo.</p>
</div>

{%endblock%}